/* Import : variables + responsive */
@import "./variable.css";
@import url("./mobile.css")   (max-width: 768px);
@import url("./tablet.css")   (min-width: 769px) and (max-width: 991px);
@import url("./desktop.css")  (min-width: 992px);
@import url("./navbar.css");
@import url("./footer.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");

/* Général */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, p {
    color: var(--primary);
}
li, li a {
    color: white;
}
button {
    border: 1px solid var(--primary);
    border-radius: 80px;
    color: white;
    background-color: var(--primary);
}
button:hover {
    color: var(--primary);
    background-color: var(--event);
}

/* Image de la page d'accueil */
main {
    margin-top: var(--hauteur-menu);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-accueil {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Menu top */
header {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--hauteur-menu);
    background-color: var(--primary-t);
}

/* Sections */
.hero {
    margin-top: var(--hauteur-menu);
    background-color: transparent;
    h1 { text-align: center; }
}

.activite {
    background-color: transparent;
}

.resa {
    text-align: center;
    background-color: transparent;
}


/* HERO */

.text-shadow {
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
  }

.main-hero {
    background-image: url('../public/hero-main.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 70vh;
}

.sep-main {
    background-image: url('../public/cta.png'); 
    background-size: cover; 
    background-position: center; 
    height: 30vh;
}

.btn-main {
    background-color: #FE8A24; 
    padding: 20px 40px; 
    border-radius: 80px; 
    color: white; 
    font-size: 1rem; 
    border: none; 
    transition: all 0.3s ease-in-out; 
  }
  
  .btn-main:hover {
    background-color: #09012B; 
    color: white; 
    transform: scale(1.1); 
  }

/* BUNGALOWS */

  
  .bungjar-main {
    background-image: url('../modules/chambre/galerie/Bungalow-Jardin-01.png'); 
    background-size: cover; /* Affiche l'image en entier */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
    background-position: center; /* Centre l'image dans le bloc */
  }
  
  .bungsea-main {
    background-image: url('../modules/chambre/galerie/Bungalow-Mer-01.png'); 
    background-size: cover; /* Affiche l'image en entier */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
    background-position: center; /* Centre l'image dans le bloc */
  }

  .main-item {
    height: 60vh;
}

/* CAROUSEL */
.btn-main-small {
    background-color: #FE8A24; 
    padding: 4px 15px; 
    border-radius: 80px; 
    color: white; 
    font-size: 0.3rem; 
    border: none; 
    transition: all 0.3s ease-in-out; 
  }
  
  .btn-main-small:hover {
    background-color: #09012B; 
    color: white; 
    transform: scale(1.1); 
  }