/* Import : variables + responsive */
@import "./variable.css";
@import url("./mobile.css")   (max-width: 768px);
@import url("./tablet.css")   (min-width: 769px) and (max-width: 991px);
@import url("./desktop.css")  (min-width: 992px);

/* Général */
body {
    margin: 0;
    background-color: var(--secondary-t);
}
h1, h2, h3, p {
    color: var(--primary)
}
li, li a {
    color: var(--event);
}

/* Image de la page d'accueil */
.img-accueil {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: var(--hauteur-menu);
}

/* Menu top */
header {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--hauteur-menu);
    background-color: var(--primary-t);
}
.navbar {
    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: auto;
        padding: 5px;
    }
    li {
        justify-self: center;
        width: calc(100% / 7);
        a { text-decoration: none; }
    }
    img { max-height: 20px; }
}

/* Sections */
.hero {
    margin-top: var(--hauteur-menu);
    background-color: var(--secondary-t);
    h1 { text-align: center; }
}

.activite {
    background-color: var(--secondary-t);
}

.resa {
    text-align: center;
    background-color: var(--secondary-t);
}

/* Pied de page */
footer {
    z-index: 10;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--hauteur-pied);
    background-color: var(--primary-t);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    p {
        font-style: italic;
        color: var(--primary);
    }
}