nav {
    background: linear-gradient(90deg, #09012B, #605BF1);
}


@media (max-width: 992px) {  /* S'applique à la version mobile */
  .navbar-nav {
    width: 100%; /* S'assurer que les liens prennent toute la largeur */
    text-align: right;  /* Aligner les liens à droite */
    padding-right: 2vw;
  }

  .navbar-nav .nav-link {
    font-size: 1.5rem;  /* Augmenter la taille du texte des liens */
  }
}
.navbar-nav .nav-link:hover {
  color: #FE8A24 !important; /* Couleur des liens au survol */
}