.bg-primary {
    background: linear-gradient(90deg, #09012bf8, #6460da);
    color:azure;
    padding-block: 0.5em;
    text-align: center;
}

.card-img-top {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}
 
.btn-primary {
    background-color: #605BF1;
    border-color: #605BF1; 
    color: white;
}

.btn-primary:hover {
    background-color: #FE8A24;
    border-color: #FE8A24; 
    color: whitesmoke;
}

.btn-warning {
    background-color: #d85619;
    border-color: #d85619; 
    color: white;
}

.btn-warning:hover {
    background-color: #09012bf8;
    border-color: #09012bf8; 
    color: whitesmoke;
}

.resa {
    background: white
}

.hero {
    height: 40ch;
    background-image: url('../../public/children-1547261_1920.jpg'); 
    background-size: cover; 
    background-position: center;
    margin-block-start: 0vh;
}
.hero-resa {
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.been-race {
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
}
.border-info-subtle {
    border-color : linear-gradient(90deg, #09012bf8, #6460da);
}